ESCOMXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cefic.org/ESCOMXML" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ESCOMXML="http://www.cefic.org/ESCOMXML" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xs:annotation>
		<xs:documentation>ESComXML Schema details</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="ESCOMXMLDT.xsd"/>
	<xs:complexType name="ReleaseEstimationEnvironment">
		<xs:annotation>
			<xs:documentation>Section that provides the initial release of a substance to the environment from a process or during an activity together with the method that has been used to derive this information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReleaseRoute" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Release route to which the release rate reported refers.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReleaseRate" type="ESCOMXML:NumericValueWithUnit" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Release rate value for the release route specified.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReleaseEstimationMethod" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the method used to determine the initial release of a substance to the environment from a process or during an activity.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherConditionsWorker">
		<xs:annotation>
			<xs:documentation>Section that describes other conditions affecting the worker's exposure. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OutdoorIndoorActivity" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies whether the process or the activity takes place indoor or outdoor.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProfessionalIndustrialIndicator" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies whether the assessment has been done assuming professional or industrial settings.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoomSize" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the size of the room in which a process or an activity takes place.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemperatureInCelsius" type="ESCOMXML:UseCondQuantitative" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the temperature in °C at which a process or an activity takes place.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentilationRate" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the ventilation rate of the room in which a process or an activity takes place. 

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExposureScenario">
		<xs:annotation>
			<xs:documentation>Section that describes the conditions and sectors for the safe use of a substance together with risk and waste management measures within contributing scenarios for the worker or consumer and environment. Product characteristics describe the use of a substance by the type of end-use in which the substance is known to be used. Guidance to downstream users helps to evaluate whether conditions set within a contributing scenario are met.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationString" type="ESCOMXML:UUID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the global unique identifier that is generated by the system when generating an exposure scenario.

Expected value: UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionDate" type="dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the version date of an exposure scenario in XML date format; the version date and the IdentificationString indicate changes or updates to an exposure scenario.

Its lexical space is the ISO 8601 extended format:
[CCYY-MM-DD[Z|(+|-)hh:mm] with an optional time zone. Time zones that are not specified are considered undetermined.

Expected value: Date time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExposureScenarioName" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Title of the exposure scenario.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Scope" type="ESCOMXML:Phrase"/>
			<xs:element name="LifeCycleStage" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stage of the life cycle of the substance (or product) to which information communicated in the ES refer.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainUserGroup" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the main user groups in the life cycle of a substance (or product) as key descriptor (SU 3, 21, 22).

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExposureScenarioOrder" type="ESCOMXML:OrderNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the order of an exposure scenario within the annex of the extended safety data sheet.

Expected value: Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectorOfUse" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the sectors of use that apply to an exposure scenario with the aim to give information on the scope, e.g. in which markets the product is used or in which the activity takes place. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on Information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketInformationProductCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the product categories that apply to an exposure scenario to give information on the scope, e.g. in which product(s) the substance is used. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketInformationArticleCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the article categories that apply to an exposure scenario to give information on the scope, e.g. in which articles(s) the substance is used or ends up in. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="UseMapUseCode" type="ESCOMXML:String255">
				<xs:annotation>
					<xs:documentation>see https://echa.europa.eu/documents/10162/15669641/use_maps_guidance_en.pdf/dade8654-e7e7-4e50-9721-1ddfe003179e , page 7. The code required here is to specify the unique identifier for each use in the use map, not a code for the whole use map. For example, a use in AISE’s use map has the identifier AISE_IS_001_v1, which follows the rules contained in the guidance mentioned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuidanceToDU" type="ESCOMXML:GuidanceToDU" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkerUse" type="ESCOMXML:WorkerUse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ConsumerUse" type="ESCOMXML:ConsumerUse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ScalingToolDetails" type="ESCOMXML:ScalingToolDetails" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExposureScenarioStructuredShortTitle" type="ESCOMXML:ExposureScenarioStructuredShortTitle" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContributingScenarioEnvironmentForWorkerUse">
		<xs:annotation>
			<xs:documentation>Section that describes the contributing scenario that controls exposure to the environment for workers within a compartment, for example air, freshwater, freshwater sediment, or, soil.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationString" type="ESCOMXML:UUID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the global unique identifier that is generated by the system which identifies the contributing scenario for the environment.

Expected value: UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Sperc" type="ESCOMXML:Phrase">
				<xs:annotation>
					<xs:documentation>SpERC = Specific Environmental Release Category. The phrase text is expected to hold the wording, the phrase OriginalCode is expected to hold the SpERC code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioName" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name that describes the contributing scenario for the environment for workers' use.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioOrder" type="ESCOMXML:OrderNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the order of a contributing scenario within the annex of the extended safety data sheet. 

Expected value: Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalReleaseCategory" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the environmental release categories that are covered by the assessment described in the specific contributing scenario. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductArticleCharacteristics" type="ESCOMXML:ProductArticleCharacteristics" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AmountsOfUse" type="ESCOMXML:AmountsOfUse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdditionalGoodPracticeAdvice" type="ESCOMXML:AdditionalGoodPracticeAdvice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureEstimationAdditionalDetails" type="ESCOMXML:ExposureEstimationAdditionalDetails" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WasteRelatedMeasures" type="ESCOMXML:WasteRelatedMeasures" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MsafeEnvironment" type="ESCOMXML:MsafeEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrequencyDurationEnvironment" type="ESCOMXML:FrequencyDurationEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OtherConditionsEnvironment" type="ESCOMXML:OtherConditionsEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdditionalConditionsMeasuresEnvironment" type="ESCOMXML:AdditionalConditionsMeasuresEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReleaseEstimationEnvironment" type="ESCOMXML:ReleaseEstimationEnvironment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExposureEstimationEnvironment" type="ESCOMXML:ExposureEstimationEnvironment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ReleaseDischargePrevention" type="ESCOMXML:ReleaseDischargePrevention" minOccurs="0" maxOccurs="1"/>
			<xs:element name="STPConditions" type="ESCOMXML:STPConditions" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsafeEnvironment">
		<xs:annotation>
			<xs:documentation>Section that describes the maximum amount of a substance or product which can be used safely under the conditions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Msafe" type="ESCOMXML:NumericValueWithUnit" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the maximum amount of a substance (or product) that can be used safely under the conditions communicated in the ES. It can be expressed by using different units of measure, such as kg/day, tonnes/year.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CriticalCompartmentForMsafe" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the compartment that has triggered the Msafe.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuidanceToDU">
		<xs:annotation>
			<xs:documentation>Section that provides information to help the downstream user to evaluate whether conditions set within the contributing scenario are met.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GuidanceText" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides information that helps downstream users to evaluate whether they are working within the boundaries set by the exposure scenario.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductArticleCharacteristics">
		<xs:annotation>
			<xs:documentation>Section that describes for which characteristics a contributing scenario is relevant.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PhysicalForm" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the physical form of the product (or article) assessed in the contributing scenario (CS); whether it is gaseous, liquid or solid.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VaporPressure" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the value of the substance vapor pressure.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreparationConcentrationUpperLimit" type="ESCOMXML:UseCondQuantitativeWithUnit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the maximum concentration of a substance in a product which is covered by the assessment.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountsOfUse">
		<xs:annotation>
			<xs:documentation>Section that describes the amount(s) of a substance used during a process or task; this information is not always required for the assessment of a worker's exposure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UseAmount" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the amount(s) of a substance used during a process or task. Specifies the period for the input amount used during a process or an activity.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContributingScenarioConsumer">
		<xs:annotation>
			<xs:documentation>Section that describes the contributing scenario that controls exposure to the consumer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationString" type="ESCOMXML:UUID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the global unique identifier that is generated by the system and that identifies the contributing scenario for the consumer.

Expected value: UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Sced" type="ESCOMXML:Phrase">
				<xs:annotation>
					<xs:documentation>SCED = Specific Consumer Exposure Description. The phrase text is expected to hold the wording, the phrase OriginalCode is expected to hold the SCED code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioName" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name that describes the contributing scenario for consumers.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioOrder" type="ESCOMXML:OrderNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the order of a contributing scenario within the annex of the extended safety data sheet.

Expected value: Order number </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArticleCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the article categories that are covered by the assessment described in the specific contributing scenario. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArticleSubCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the article sub-categories that are covered by the assessment described in the specific contributing scenario, where additional details with respect to what is included in the field for ACs are needed. 

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the product categories that are covered by the assessment described in the specific contributing scenario. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSubCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the product sub-categories that are covered by the assessment described in the specific contributing scenario, where additional details with respect to what is included in the field for PCs are needed. 

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumerProtection" type="ESCOMXML:ConsumerProtection" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AmountsOfUse" type="ESCOMXML:AmountsOfUse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ProductArticleCharacteristics" type="ESCOMXML:ProductArticleCharacteristics" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrequencyDurationHH" type="ESCOMXML:FrequencyDurationHH" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OtherConditionsConsumer" type="ESCOMXML:OtherConditionsConsumer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureEstimationHH" type="ESCOMXML:ExposureEstimationHH" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="HumanFactors" type="ESCOMXML:HumanFactors" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdditionalConditionsMeasuresHH" type="ESCOMXML:AdditionalConditionsMeasuresHH" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureEstimationAdditionalDetails" type="ESCOMXML:ExposureEstimationAdditionalDetails" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ESCOMXML_TOP">
		<xs:annotation>
			<xs:documentation>ESCOMXML_TOP is the root XML element of each ESComXML file. This root section specifies meta information for an ESComXML file.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="ESComXMLVersionNo" type="ESCOMXML:ESComXMLVersionNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the version of the ESComXML Schema that was used to create the file. The value of this attribute should reflect the version of the ESComXML definition used to generate the XML file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ESComPhraseCatalogVersion" type="ESCOMXML:VersionNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Version of the phrase catalog on which the information is based. 

Expected value: Version number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="ESCOMXML:ESComType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the object as a product or a substance.

Expected value: ESCom type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eSDS_Details" type="ESCOMXML:eSDS_Details" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Supplier" type="ESCOMXML:Supplier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Substance" type="ESCOMXML:Substance" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Product">
		<xs:annotation>
			<xs:documentation>Section that describes the product (substance or mixture) for which the exposure scenario(s) is / are relevant.

If this is an example of a mixture or a compound, the SubstanceMixtureIndicator is set accordingly, and additional substances representing its corresponding composition are provided together with their exposure scenarios.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MaterialName" type="ESCOMXML:String1000" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the product, substance or mixture name; this can also be a trade name.

Expected value: String</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubstanceMixtureIndicator" type="ESCOMXML:SubstanceMixtureIndicator" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the product type as either a substance or mixture. This attribute is only relevant in case the XML document contains exposure scenarios for a product. This attribute is expected to be initial in case exposure scenarios for a pure substance are communicated.

Expected value: Substance mixture indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eSDSVersionNo" type="ESCOMXML:VersionNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the version number of the extended safety data sheet for which the ESComXML file is created.

Expected value: Version number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialID" type="ESCOMXML:String255" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the identifier of the material the object represents.

Expected value: String</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Substance" type="ESCOMXML:Substance" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExposureScenario" type="ESCOMXML:ExposureScenario" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsumerProtection">
		<xs:annotation>
			<xs:documentation>Section that describes the risk management measures for consumer consideration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConsumerProtection" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates safety advice to be conveyed to consumers in order to reduce exposure. This may include instructions for use.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReleaseDischargePrevention">
		<xs:annotation>
			<xs:documentation>Section that describes the method or measures to reduce or restrict the emission to the environment of a substance used in a process or an activity. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Measure" type="ESCOMXML:RiskManagementMeasureEnv" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies different measures that aim to prevent losses from processes and/or clean up the streams (water or air) leaving the processes on site. The measures could be compartment-specific and could be associated with the specific effectiveness for air, soil or water. The effectiveness describes the degree in % to which the measure to reduce the release is effective.

Expected value: Phrase (+ effectiveness)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalGoodPracticeAdvice">
		<xs:annotation>
			<xs:documentation>Section that describes further operational conditions and risk management measures for the exposure of a substance to environment, worker or consumer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdditionalGoodPracticeAdvice" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes good practice information that the supplier chooses to include in addition to the obligatory measures, as advice to the downstream user.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TechnicalOrganizationalMeasuresWorkers">
		<xs:annotation>
			<xs:documentation>Section that describes the risk management measures for the worker relating to technical and organizational considerations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Measure" type="ESCOMXML:RiskManagementMeasureHH" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The equipment-related implemented to prevent the exposure of workers are indicated here. Organizational measures are also included in this field. The measures could be route-specific and could be associated with the specific effectiveness for dermal or inhalation. The effectiveness describes the degree in % to which the measure to reduce the exposure is effective.

Expected value: Phrase (+ effectiveness)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Substance">
		<xs:annotation>
			<xs:documentation>Section that describes the registered substances which are components of the product, and which are relevant for assessing the exposure scenario. Each substance specifies its concentration in the corresponding product or pure substance.
In REACH, these are chemical elements and their compounds, either in their natural state, or obtained by a manufacturing process.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="ESCOMXML:String1000" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the substance name typically the chemical name of a substance.

Expected value: String</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="REACHRegistrationNumber" type="ESCOMXML:REACHRegNumber" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides the standard Registration, Evaluation, Authorization and Restriction of Chemicals (REACH) substance number which depends on the legal entity. Multiple REACH registration numbers can be provided. 

Expected value: REACH registration number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Concentration" type="ESCOMXML:NumericIntervalWithUnitAndQualifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the concentration of the substance in the product that is classified in the object section.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECNumber" type="ESCOMXML:ECNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the European Commission Number (EC) for Chemicals which identifies a substance.

Expected value: EC number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CASNumber" type="ESCOMXML:CASString" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the Chemical Abstracts Service (CAS) number which identifies a substance.

Expected value: CAS string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeadPrioritySubstance" type="ESCOMXML:LeadPrioritySubstance" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExposureScenario" type="ESCOMXML:ExposureScenario" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LeadPrioritySubstance">
		<xs:annotation>
			<xs:documentation>Section that provides lead and priority substance details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies whether a component in a mixture is a priority or a lead substance.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hazard" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides the exposure pathway in case of a lead substance or the type of a priority substance.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrequencyDurationHH">
		<xs:annotation>
			<xs:documentation>Section that describes the duration and the frequency of a process, or an activity during which a substance is released to the worker or consumer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Duration" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the duration of the activity/exposure.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Frequency" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the frequency of the activity/exposure.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherConditionsEnvironment">
		<xs:annotation>
			<xs:documentation>Section that describes environmental factors and other conditions affecting environmental release within an exposure scenario.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DilutionFactorCoastal" type="ESCOMXML:NumericValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the factor by which the effluent from a sewage treatment plant is diluted by sea water.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DilutionFactorRiver" type="ESCOMXML:NumericValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the factor by which the effluent from a sewage treatment plant is diluted by river water.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowRateRcvSurfWater" type="ESCOMXML:NumericValueWithUnit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the water flow rate (receiving surface water) in m³/d into which the effluent is discharged; the default value is 18,000 m³/d.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutdoorIndoorActivity" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies whether the process or the activity takes place indoor or outdoor.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalProtectionEquipmentAndMeasuresWorkers">
		<xs:annotation>
			<xs:documentation>Section that describes the risk management measures for the worker relating to personal protection considerations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Measure" type="ESCOMXML:RiskManagementMeasureHH" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates elements related to personal protective equipment (PPE) for workers. The measures could be route-specific and could be associated with the specific effectiveness for dermal or inhalation. The effectiveness describes the degree in % to which the measure to reduce the exposure is effective.

Expected value: Phrase (+ effectiveness)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HumanFactors">
		<xs:annotation>
			<xs:documentation>Section that describes details on human factors contributing to exposure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BodyPartsExposed" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Body parts that have been considered in the assessment.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STPConditions">
		<xs:annotation>
			<xs:documentation>Section that describes the conditions pertaining to a sewage treatment plant.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="STPType" type="ESCOMXML:RiskManagementMeasureGeneric" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the type of sewage treatment plant that is used to treat the waste water from the activities covered by the exposure scenario before their release to the environment. The value of effectiveness specifies the value in a percentage of a substance which is removed from waste water by the sewage treatment plant.

Expected value: Phrase (+ effectiveness)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STPTypeAdditionalInformation" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies additional technical details on the type of treatment applied in the plant.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SludgeTreatment" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the way in which the sludge coming from the sewage treatment is processed or cannot be used.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STPEffluentInM3perDay" type="ESCOMXML:NumericValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the flow rate of the sewage treatment plant in m³/d. The default value used for a standard town is 2000 m³/d.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContributingScenarioWorker">
		<xs:annotation>
			<xs:documentation>Section that describes the contributing scenario that controls exposure to the worker.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationString" type="ESCOMXML:UUID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the global unique identifier that is generated by the system and that identifies the contributing scenario for the worker.

Expected value: UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Swed" type="ESCOMXML:Phrase">
				<xs:annotation>
					<xs:documentation>SWED = Specific Worker Exposure Description. The phrase text is expected to hold the wording, the phrase OriginalCode is expected to hold the SWED code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioName" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name that describes the contributing scenario for workers.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioOrder" type="ESCOMXML:OrderNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the order of a contributing scenario within the annex of the extended safety data sheet.

Expected value: Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessCategory" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the process categories that are covered by the assessment described in the specific contributing scenario. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalGoodPracticeAdvice" type="ESCOMXML:AdditionalGoodPracticeAdvice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TechnicalOrganizationalMeasuresWorkers" type="ESCOMXML:TechnicalOrganizationalMeasuresWorkers" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ProductArticleCharacteristics" type="ESCOMXML:ProductArticleCharacteristics" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AmountsOfUse" type="ESCOMXML:AmountsOfUse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrequencyDurationHH" type="ESCOMXML:FrequencyDurationHH" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OtherConditionsWorker" type="ESCOMXML:OtherConditionsWorker" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureEstimationHH" type="ESCOMXML:ExposureEstimationHH" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PersonalProtectionEquipmentAndMeasuresWorkers" type="ESCOMXML:PersonalProtectionEquipmentAndMeasuresWorkers" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HumanFactors" type="ESCOMXML:HumanFactors" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdditionalConditionsMeasuresHH" type="ESCOMXML:AdditionalConditionsMeasuresHH" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureEstimationAdditionalDetails" type="ESCOMXML:ExposureEstimationAdditionalDetails" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Supplier">
		<xs:annotation>
			<xs:documentation>Section that provides all relevant details of the supplier of an ESComXML file. This information is not relevant in the case of own registrations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupplierName" type="ESCOMXML:String255" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the name of the supplier who provided the ESComXML file.

Expected value: String</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierContactEmailAddress" type="ESCOMXML:EmailAddress" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the e-mail address in case the supplier of the ESComXML file needs to be contacted.

Expected value: E-mail address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DUNSCode" type="ESCOMXML:DUNSNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the Data Universal Numbering System (DUNS) number of the supplier of the ESComXML file.

Expected value: DUNS number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="ESCOMXML:Product" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExposureEstimationHH">
		<xs:annotation>
			<xs:documentation>Section that describes the target route for a given human health exposure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExposureRoute" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the exposure route for which the exposure level has been measured or calculated. 

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HealthEffect" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the effect on the considered route caused by the exposure to the substance (or product). 

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortLongTermIndicator" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the kind of exposure, for example short term or long term exposure.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExposureLevel" type="ESCOMXML:NumericValueWithUnitAndQualifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the exposure level value measured or calculated for the human route associated to it.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationMethod" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies how the exposure level is calculated for the human exposure route associated to it.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RCR" type="ESCOMXML:NumericValueWithQualifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the risk characterization ratio (RCR) of the value of the exposure level. It is obtained for every route by comparing the exposure level to the derived no-effect level (DNEL).

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eSDS_Details">
		<xs:annotation>
			<xs:documentation>Section that provides all extended safety data sheet based attributes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GenerationDate" type="dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the generation date of the ESComXML file.

Its lexical space is the ISO 8601 extended format:
[CCYY-MM-DD[Z|(+|-)hh:mm] with an optional time zone. Time zones that are not specified are considered undetermined.

Expected value: Date time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="ESCOMXML:LanguageCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the ISO language code representing the language used for the determination of language-dependent values. 

Expected value: Language code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="ESCOMXML:CountryCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the country code to which the corresponding extended safety data sheet is shipped.

Its lexical space is the ISO 8601 extended format:
[CCYY-MM-DD[Z|(+|-)hh:mm] with an optional time zone. Time zones that are not specified are considered undetermined.

Expected value: Country code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WasteRelatedMeasures">
		<xs:annotation>
			<xs:documentation>Section that specifies the handling of waste and the degree to which a substance is released to the environment from a process or an activity, or after its use phase.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WasteTreatment" type="ESCOMXML:RiskManagementMeasureWaste" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates how waste produced during a process or an activity should be treated, including, for instance, prescribed disposal methods or advised against treatment methods.

Value expected: Phrase (+ effectiveness)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherConditionsConsumer">
		<xs:annotation>
			<xs:documentation>Section that describes other conditions affecting the consumer's exposure. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OutdoorIndoorActivity" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies whether the activity takes place indoor or outdoor.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoomSize" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the size of the room in which an activity takes place.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemperatureInCelsius" type="ESCOMXML:UseCondQuantitative" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the temperature in °C at which an activity takes place.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentilationCondition" type="ESCOMXML:UseCondQuantitativeWithUnitAndQual" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the ventilation conditions of the room in which an activity takes place.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExposureEstimationEnvironment">
		<xs:annotation>
			<xs:documentation>Section that describes an estimated exposure level for a given environmental compartment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Compartment" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the compartment, for example air, freshwater, freshwater sediment, or soil to which the exposure level reported refers to.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExposureLevel" type="ESCOMXML:NumericValueWithUnitAndQualifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the exposure level value measured or calculated for the environmental compartment associated to it.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationMethod" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the method used to determine the exposure level value.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RCR" type="ESCOMXML:NumericValueWithQualifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the risk characterization ratio (RCR) for the value of the exposure level. It is obtained for every compartment by comparing the exposure level to the predicted no-effect concentration (PNEC).

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExposureEstimationAdditionalDetails">
		<xs:annotation>
			<xs:documentation>Section that provides the downstream user with additional information in Section 3 beyond the numerical estimates and releases .</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdditionalDetails" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Includes additional information for the downstream users beyond the numerical estimates and releases, e.g. related to the scope and details of the exposure assessment.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalConditionsMeasuresEnvironment">
		<xs:annotation>
			<xs:documentation>Section that describes environmental factors affecting environmental release within an exposure scenario.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConditionMeasure" type="ESCOMXML:UseCondMeasureEnv" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies additional waste related measures for a use relevant to environment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrequencyDurationEnvironment">
		<xs:annotation>
			<xs:documentation>Section that describes the duration and the frequency of a process or an activity during which a substance is released to the environment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExposureType" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the exposure of the type of release to the environmental compartment, i.e. whether the releases are "continuous" or "intermittent".

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmissionDaysPerYear" type="ESCOMXML:NumericValue" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the number of days in a year during which the emission occurs.

Expected value: Numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalConditionsMeasuresHH">
		<xs:annotation>
			<xs:documentation>Section that describes environmental factors affecting environmental release within an exposure scenario.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConditionMeasure" type="ESCOMXML:UseCondMeasureHH" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional conditions related to human health that do not fall under any other attribute, but which are relevant for the overall characterization of the use of the substance (or product) and therefore have to be communicated in the supply chain.

Expected value: Phrase or numeric value or both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkerUse">
		<xs:annotation>
			<xs:documentation>Umbrella section that classifies the exposure scenario as an exposure scenario for activities by workers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContributingScenarioEnvironmentForWorkerUse" type="ESCOMXML:ContributingScenarioEnvironmentForWorkerUse" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="ContributingScenarioWorker" type="ESCOMXML:ContributingScenarioWorker" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsumerUse">
		<xs:annotation>
			<xs:documentation>Umbrella section that classifies the exposure scenario as an exposure scenario for activities by consumers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContributingScenarioEnvironmentForConsumerUse" type="ESCOMXML:ContributingScenarioEnvironmentForConsumerUse" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="ContributingScenarioConsumer" type="ESCOMXML:ContributingScenarioConsumer" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContributingScenarioEnvironmentForConsumerUse">
		<xs:annotation>
			<xs:documentation>Section that describes the contributing scenario that controls exposure to the environment for consumers within a compartment, for example air, freshwater, freshwater sediment, or, soil.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationString" type="ESCOMXML:UUID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the global unique identifier that is generated by the system which identifies the contributing scenario for the environment.

Expected value: UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Sperc" type="ESCOMXML:Phrase">
				<xs:annotation>
					<xs:documentation>SpERC = Specific Environmental Release Category. The phrase text is expected to hold the wording, the phrase OriginalCode is expected to hold the SpERC code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioName" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name that describes the contributing scenario for the environment for consumers' use.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributingScenarioOrder" type="ESCOMXML:OrderNumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the order of a contributing scenario within the annex of the extended safety data sheet. 

Expected value: Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalReleaseCategory" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the environmental release categories that are covered by the assessment described in the specific contributing scenario. This description is made via the Use Descriptor System defined in chapter R.12 of the ECHA guidance on Information requirements.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductArticleCharacteristics" type="ESCOMXML:ProductArticleCharacteristics" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AmountsOfUse" type="ESCOMXML:AmountsOfUse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OtherConditionsEnvironment" type="ESCOMXML:OtherConditionsEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReleaseEstimationEnvironment" type="ESCOMXML:ReleaseEstimationEnvironment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExposureEstimationEnvironment" type="ESCOMXML:ExposureEstimationEnvironment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdditionalGoodPracticeAdvice" type="ESCOMXML:AdditionalGoodPracticeAdvice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MsafeEnvironment" type="ESCOMXML:MsafeEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WasteRelatedMeasures" type="ESCOMXML:WasteRelatedMeasures" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrequencyDurationEnvironment" type="ESCOMXML:FrequencyDurationEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdditionalConditionsMeasuresEnvironment" type="ESCOMXML:AdditionalConditionsMeasuresEnvironment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureEstimationAdditionalDetails" type="ESCOMXML:ExposureEstimationAdditionalDetails" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScalingToolDetails">
		<xs:annotation>
			<xs:documentation>Section that provides details about a scaling tool used in section 4 as additional advice to the downstream users, if appropriate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ScalingTool" type="ESCOMXML:Phrase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates the tool that can be used for scaling.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScalingInstructions" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates the boundaries that have to be considered and the scalable parameters for a specific scaling tool.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScalingToolWebLink" type="ESCOMXML:URL" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates the link where additional information on scaling can be found, if available.

Expected value: Web address</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExposureScenarioStructuredShortTitle">
		<xs:annotation>
			<xs:documentation>Section that provides the structured short title (SST) of an exposure scenario for communication. An exposure scenario structured short title is a sequence of identifiers which are taken from the data contained in the exposure scenario itself. Its main purpose is provide a comprehensible description of the ES content that makes it possible to distinguish between the different ESs within one safety data sheet. It also helps downstream users identify ESs relevant to their sector or activity in the SDS annex.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SSTMarketInformationProductCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phrase that constitutes the first part of the second identifier of the short title, in case  Product (article) characteristics (PCs) are relevant.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSTMarketInformationProductCategoryCodes" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies which PCs have to be included in the SST in case there are several relevant for the ES.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSTMarketInformationArticleCategory" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phrase that constitutes the first part of the second identifier of the short title, in case  article categories (ACs) are relevant.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSTMarketInformationArticleCategoryCodes" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies which ACs have to be included in the SST in case there are several relevant for the ES.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSTMarketInformationSectorOfUse" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the sector of use considered by the calculation of the structured short title for an exposure scenario.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSTMarketInformationSectorOfUseCodes" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the codes of those sectors of use considered by the calculation of the structured short title for an exposure scenario.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSTAdditionalInformation" type="ESCOMXML:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The field conveys the phrase that consitutes the third identifier for the SST.

Expected value: Phrase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ESCOMXML" type="ESCOMXML:ESCOMXML_TOP">
		<xs:annotation>
			<xs:documentation>The basic structure of ESComXML is based on the ESCOMXML_TOP element for root information. 
Each ESComXML document is based on one or more exposure scenarios related to a substance or a product.

Exposure scenarios and their contributing scenarios define the conditions and risk management measures for the safe use of a substance or a product. An exposure scenario contains conditions of use for worker or consumer activities.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
